/* Tipo de letra e tamanho de fontes */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo do header */
header {
    background-color: #E1700F;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

/* Barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    width: 40%; /* Ajuste de largura */
    max-width: 400px; /* Define um limite para a largura */
    margin-right: auto;
    margin-left: auto;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 5.4px 10px; /* Ajuste de padding para igualar a altura */
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.search-bar button {
    background-color: #000;
    border: none;
    padding: 8px 15px; /* Ajuste de padding para igualar a altura */
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Define a altura do botão para igualar com a barra de pesquisa */
    box-sizing: border-box;
}

.search-bar button .material-icons {
    color: white;
    font-size: 18px;
}

/* Links de navegação */
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

/* Dropdown de perfil */
.dropdown {
    display: flex;
    align-items: center;
}

.dropdown .material-icons {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.dropdown-menu a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #ff7f00;
    color: white;
}
