/* Estilos para o cabeçalho */
.StHeader {
    background-color: #E1700F;
    /* Cor de fundo personalizada */
}

.StLogo {
    font-weight: bold;
}

.StNav a {
    font-size: 1.2rem;
}

.StNav a:hover {
    text-decoration: underline;
}

.dropdown-menu {
    min-width: 200px;
}
