/* Estilos gerais /
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}

/ Container da logo centralizada /
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; / Garante que a imagem ocupe a altura total da tela /
}

.logo-img {
    width: 300px;
    height: 300px;
}

/ Estilos do formulário /
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-content {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; / Limita a largura do formulário /
}

/ Estilos para o cabeçalho do formulário /
.register-header {
    font-size: 28px;
    color: #ff7f00;
}

.register-header h1 {
    margin: 0;
    font-weight: bold; / Título mais espesso /
}

.register-header .register-icon {
    width: 30px;
    height: 30px;
}

/ Estilos dos campos de formulário */
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #ff7f00;
    color: white;
    border: none;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #e07000;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #ff7f00;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}