/* Estilos para o cabeçalho */
.StHeader {
    background-color: #E1700F; /* Cor de fundo personalizada */
}

.StLogo {
    font-weight: bold;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #E1700F;
    border-color: #fff;
}
