
body {
    background-color: #f8f9fa;
}

.book-container {
    text-align: center;
    margin-top: 20px;
}

.reader {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 110%;
    max-width: 400px;
    padding: 2px;
    position: relative; /* Para permitir o posicionamento dos botões */
}

.controls {
    position: absolute;
    top: 50%; /* Centraliza os botões na altura */
    transform: translateY(-50%); /* Ajusta para centralizar exatamente */
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
}

.controls button {
    margin: 5px;
    border: none;
    background-color: transparent;
}

/* Botão de retroceder à esquerda */
#prev {
    position: absolute;
    left: 10px; /* Posiciona à esquerda */
}

/* Botão de avançar à direita */
#next {
    position: absolute;
    right: 10px; /* Posiciona à direita */
}

.controls img {
    width: 30px;
}

/* Botões invisíveis para ocupar a altura toda */
.invisible-btn {
    position: absolute;
    top: 0;
    width: 10px; /* Largura bem pequena para os botões invisíveis */
    height: 100%; /* Ocupa toda a altura do PDF */
    background-color: transparent;
    opacity: 0;
    z-index: 5; /* Garante que fiquem por cima do PDF */
}

#prev-invisible {
    left: 0;
}

#next-invisible {
    right: 0;
}

canvas {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

/* Media Queries para garantir responsividade em diferentes tamanhos de tela */
@media (max-width: 768px) {
    .reader {
        max-width: 100%;
        padding: 15px;
    }

    .controls button {
        width: 40px;
        height: 40px;
    }

    /* Ajuste para telas com altura menor */
    @media (max-height: 600px) {
        .reader {
            padding: 10px;
        }

        .controls button {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 480px) {
    .reader {
        padding: 10px;
    }

    .controls button {
        width: 35px;
        height: 35px;
    }

    /* Ajuste para telas com altura menor */
    @media (max-height: 500px) {
        .reader {
            padding: 5px;
        }

        .controls button {
            width: 25px;
            height: 25px;
        }
    }
}